- content_for :head do
  = stylesheet_link_tag "comic.css"

.comic
  - @quotes.each_with_index do |quote, i|
    - cl = "panel-#{i}"
    .panel{:class => cl}
      = link_to character_url(quote.character.friendly_id) do
        = image_tag(@images[i].nil? ? "/images/missing_small.jpg" : @images[i].photo.url(:small),
                    :class => "panel-image")
        .quote-container
          %span.quote
            #{quote.text}

.under-comic.span-16.append-4.prepend-4.last
  = link_to "permalink", "/" + @quotes.map{|q| q.id}.join('.')
