- content_for :head do
  = stylesheet_link_tag "comic.css"

.comic.span-20.append-2.prepend-2
  - @quotes.each_with_index do |quote, i|
    - cl = "panel-#{i}"
    .panel.span-5.last{:class => cl}
      = link_to character_url(quote.character.friendly_id) do
        = image_tag("/images/missing_small.jpg", :class => "panel-image")
        .quote-container
          %span.quote
            #{quote.character.name}: #{quote.text}
