- content_for :head do
  = stylesheet_link_tag "dossier.css"

.dossier.span-16.prepend-4.append-4

  %h2.title character dossier: #{@character.name}

  .quoted
    %span.text
      "#{@random_quote.text}"
    %span.attrib
      \-- #{@random_quote.episode.name}

  .character-photos
    = form_for @character, :html => {:multipart => true} do |f|
      - if @character.character_images.empty?
        No images yet.

      - else
        .photobox-outer
          .photobox{:style => "width:#{201*@character.character_images.size}px;"}
            - @character.character_images.each do |img|
              .photobox-image
                = image_tag img.photo.url(:small)
                = check_box_tag("photos_to_delete[#{img.id}]")
                = label_tag "photos_to_delete[#{img.id}]", "delete"
                /= f.hidden_field "delete_photo_#{img.id}", :value => false


      .photobox-new
        - @character.character_images.build
        = f.fields_for :character_images do |builder|
          - if builder.object.new_record?
            = builder.label :photo, "add image:"
            = builder.file_field :photo

      %p
        = f.submit 'save changes'

  .dossier-info
    %strong First Appearance:
    #{@character.episodes.first.name}
    (#{@character.episodes.first.airdate})
    %br
    %strong Total Lines:
    = @character.quotes.count

  .episode-list
    %strong Episodes (#{@character.episodes.count}):
    %ul
      - @character.episodes.each do |ep|
        %li
          = link_to ep.name, episode_url(ep.friendly_id)
