- content_for :head do
  = stylesheet_link_tag "dossier.css"

.dossier.span-16.prepend-4.append-4

  %h2.title character dossier: #{@character.name}

  .quoted
    .text "#{@random_quote.text}"
    .attrib
      \-- #{@character.name}, #{@random_quote.episode.name}

  .character-photos
    - if @character.character_images.size == 1
      No images yet.

    = form_for @character, :html => {:multipart => true} do |f|
      %p
        = f.fields_for :character_images do |builder|
          - if builder.object.new_record?
            = builder.label :photo, "add image:"
            = builder.file_field :photo
          - else
            = image_tag builder.object.photo.url(:small)
            = check_box_tag("photos_to_delete[#{builder.object.id}]")
            /= f.hidden_field "delete_photo_#{builder.object.id}", :value => false
            %br
      %p
        = f.submit 'save changes'

  .dossier-info
    %strong First Appearance:
    #{@character.episodes.first.name}
    (#{@character.episodes.first.airdate})
    %br
    %strong Total Lines:
    = @character.quotes.count

  .episode-list
    %strong Episodes (#{@character.episodes.count}):
    %ul
      - @character.episodes.each do |ep|
        %li
          = link_to ep.name, episode_url(ep.friendly_id)
