!!!5
%html
  %head
    %title .:pandori.ca:.
    = stylesheet_link_tag "style.css"
    = stylesheet_link_tag "blueprint/screen.css", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print.css", :media => "print"
    <!--[if lt IE 8]>
    = stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection"
    <![endif]-->

    /= javascript_include_tag :defaults
    = yield :head
    = csrf_meta_tag
  %body
    .container
      .span-16.append-4.prepend-4.last
        .header
          %h1 パンドリカ
          %h3 .: pandori.ca :.

      .span-16.append-4.prepend-4.last
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

      = yield

    .footer
      = link_to "home", root_url
      |
      = link_to "characters", characters_url(:id => nil)
      |
      = link_to "episodes", episodes_url(:id => nil)
